*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: Abel, sans-serif;
  background: #dedede;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
input {
  font-family: Abel, sans-serif;
  font-size: 28px;

  
  border: 0px;
  background: transparent;
  height: 50px;
  color: black;
  width: 400px;
  border: 1px solid black;
  padding:8px;
}
a {
  text-decoration: none !important;
  color: black;
  font-family: Abel, sans-serif;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 105px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}
button, select {
 
  padding: 15px 30px !important;
  border-radius: 8px;
  font-size: 16px;
  background: #dedede;
}


.movie-ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  gap: 10px;
  position: relative;
  list-style: none;
  padding: 0;
}
.list {
  width: 200px;
  height: 350px;
  padding: 15px;
  transition: all 0.3s ease 0s;
  img {
    transition: all 0.3s ease 0s;
  }
}
.list:hover {
  background: rgb(255, 255, 255);
  
  // box-shadow:   0px 0px 0px 5px rgb(0 0 0 / 15%);
  img {
    filter: brightness(20%);
  }
}



h3 {
  font-family: Abel, sans-serif;
  line-height: 18px !important;
  margin: 0;
  font-size: 20px !important;

  text-align: center;
  margin-top: 10px !important;
}



.btn-danger  {
  width: 180px !important;
  display: block !important;
}
.my-modal.show {
  display: block;
}




.my-modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
  background: rgba(24, 22, 22, 0.1);
  backdrop-filter: blur(5px);
  display: none;
  background-color: rgba($color: #fff, $alpha: .7);

}

.my-modal__spinner {
  display: block;
  margin: 0 auto;
}

.my-modal__spinner:not(.d-none) + div {
  display: none;
}

.my-modal.show {
  display: flex;
}


.el-btn {
  display: none;
  position: absolute;
  left: 130px;
}
.pagination {
  margin-top: 50px;
}




